-injars       target/app-with-dependencies.jar
-outjars      target/app-final.jar
-libraryjars  <java.home>/jmods/java.base.jmod(!**.jar;!module-info.class):<java.home>/lib/jrt-fs.jar
-printmapping app.map

-dontoptimize
-dontshrink

-adaptresourcefilenames    **.properties,**.xml,META-INF/MANIFEST.MF,META-INF/spring.*
-adaptresourcefilecontents **.properties,**.xml,META-INF/MANIFEST.MF,META-INF/spring.*

-dontwarn com.ibm.**

-keepclasseswithmembers public class javafx.application.Application, com.javafx.main.Main, com.example.App {
    public static void main(java.lang.String[]);
}