body {
}

.form {
  box-sizing: border-box;
  /*   background-image: url("squared-mesh.svg"); */
  min-width: 1px;
  min-height: 1px;
}

.form .small-grid path {
  fill: none;
  stroke: gray;
  stroke-width: 0.5;
}

.form .grid path {
  fill: none;
  stroke: gray;
  stroke-width: 1;
}
