html, body {
  padding: 0;
  margin: 0;
  font-family: "Yu Mincho", "YuMincho", "ＭＳ 明朝", "IPAexMincho", "IPAex明朝", serif;
}

.paper > .content-container h1,
.paper > .content-container div {
  padding-left: 3mm;
}

@media screen {
  .paper {
    background-color: #abcdef;
  }
}

@media print {
}
