<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
                           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd">

    <bean id="bayeux" class="org.cometd.server.BayeuxServerImpl" init-method="start" destroy-method="stop">
        <property name="transports">
            <list>
                <!-- <bean id="websocketTransport" class="org.cometd.websocket.server.WebSocketTransport"> -->
                <!--     <constructor-arg ref="bayeux" /> -->
                <!-- </bean> -->
                <bean id="jsonTransport" class="org.cometd.server.transport.JSONTransport">
                    <constructor-arg ref="bayeux" />
                </bean>
                <!-- <bean id="jsonpTransport" class="org.cometd.server.transport.JSONPTransport"> -->
                <!--     <constructor-arg ref="bayeux" /> -->
                <!-- </bean> -->
            </list>
        </property>
    </bean>
    <context:component-scan base-package="service" />
    <context:component-scan base-package="org.cometd.examples" />
</beans>

