<persistence xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://java.sun.com/xml/ns/persistence http://java.sun.com/xml/ns/persistence/persistence_2_0.xsd"
             version="2.0"
             xmlns="http://java.sun.com/xml/ns/persistence">
  <!-- 参考: https://qiita.com/amadablam/items/487e91c173a198cfe6be -->
  <!-- 永続化対象 test -->
  <!-- h2データベースを用います -->
  <persistence-unit name="test" transaction-type="RESOURCE_LOCAL">
    <!-- JPA実装のプロバイダ -->
    <provider>org.hibernate.jpa.HibernatePersistenceProvider</provider>

    <!-- 管理対象となるエンティティ -->
    <class>com.example.jpa.HistoricProcessInstanceVariables</class>

    <!-- データベース接続情報 -->
    <properties>
      <property name="javax.persistence.jdbc.driver" value="org.h2.Driver" />
      <property name="javax.persistence.jdbc.url" value="jdbc:h2:///tmp/activiti-example" />
      <property name="javax.persistence.jdbc.user" value="sa" />
      <property name="javax.persistence.jdbc.password" value="" />

      <property name="hibernate.dialect" value="org.hibernate.dialect.H2Dialect"/>
      <property name="hibernate.hbm2ddl.auto" value="create-drop" />
      <property name="show_sql" value="true"/>
      <property name="hibernate.temp.use_jdbc_metadata_defaults" value="false"/>
    </properties>
  </persistence-unit>
</persistence>
